flows.json
[{"id":"da173c22.5fac38","type":"tab","label":"Project Keep API","disabled":false,"info":""},{"id":"9fc451d5.e5b1c8","type":"tab","label":"Project Keep & MQTT","disabled":false,"info":""},{"id":"b41e923d.57be4","type":"tab","label":"Project Keep & Sentiment","disabled":false,"info":""},{"id":"42739040.775b28","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca-chain.cert.pem","servername":"","verifyservercert":false},{"id":"f19a872d.856018","type":"mqtt-broker","z":"","name":"New Broker","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2ada21a.c88f1","type":"mqtt-broker","z":"","name":"Brokernator","broker":" tailor.cloudmqtt.com","port":"18113 ","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7527e79b.f284b8","type":"http request","z":"da173c22.5fac38","name":"GET /lists/{unid}  Pulls in view data","method":"GET","ret":"obj","paytoqs":false,"url":"https://frascati.projectkeep.io:8008/lists/2D7D51D22BA0EBAC85257A7B006D8FC8?db=48257C630031F757&scope=all","tls":"42739040.775b28","proxy":"","authType":"bearer","x":344.6565856933594,"y":136.08078002929688,"wires":[["f34421ca.7554a8"]]},{"id":"a73e913a.e10f8","type":"inject","z":"da173c22.5fac38","name":"Initiate API Request (Project Keep)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":234.65660095214844,"y":68.26261901855469,"wires":[["7527e79b.f284b8"]]},{"id":"f34421ca.7554a8","type":"debug","z":"da173c22.5fac38","name":"View payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":445.11114501953125,"y":204.53538513183594,"wires":[]},{"id":"e8a39a35.bea0c","type":"inject","z":"da173c22.5fac38","name":"Initiate API Request (Project Keep)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.33323669433594,"y":340.11126708984375,"wires":[["d26adaa0.e08f48"]]},{"id":"d26adaa0.e08f48","type":"http request","z":"da173c22.5fac38","name":"GET /lists/{unid}  Pulls in view data","method":"GET","ret":"obj","paytoqs":false,"url":"https://frascati.projectkeep.io:8008/lists/2D7D51D22BA0EBAC85257A7B006D8FC8?db=48257C630031F757&scope=all","tls":"42739040.775b28","proxy":"","authType":"bearer","x":345.111083984375,"y":406.13348388671875,"wires":[["52723987.781b88"]]},{"id":"52723987.781b88","type":"json","z":"da173c22.5fac38","name":"Modify payload","property":"payload","action":"str","pretty":true,"x":454.99993896484375,"y":474.7113037109375,"wires":[["d0ecbb66.f3505"]]},{"id":"d0ecbb66.f3505","type":"debug","z":"da173c22.5fac38","name":"View payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":546.0000610351562,"y":543.622314453125,"wires":[]},{"id":"3ab6e243.b478e6","type":"comment","z":"da173c22.5fac38","name":"Interact with Project Keep API","info":"Do a simple GET request to Project Keep using the GET LIST API.","x":155.11119079589844,"y":20,"wires":[]},{"id":"40b5087d.aaf4e","type":"comment","z":"da173c22.5fac38","name":"Interact with Project Keep API, modify response payload","info":"","x":235.111083984375,"y":290.66668701171875,"wires":[]},{"id":"e12ef517.1421b","type":"comment","z":"9fc451d5.e5b1c8","name":"Interact with Project Keep API, modify payload, and post to MQTT","info":"","x":264.0000457763672,"y":20,"wires":[]},{"id":"60a973c9.c8f7f4","type":"inject","z":"9fc451d5.e5b1c8","name":"Initiate API Request (Project Keep)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.6666717529297,"y":67.99998474121094,"wires":[["b693487a.e94028"]]},{"id":"b693487a.e94028","type":"http request","z":"9fc451d5.e5b1c8","name":"GET /lists/{unid}  Pulls in view data","method":"GET","ret":"obj","paytoqs":false,"url":"https://frascati.projectkeep.io:8008/lists/2D7D51D22BA0EBAC85257A7B006D8FC8?db=48257C630031F757&scope=all","tls":"42739040.775b28","proxy":"","authType":"bearer","x":345.55548095703125,"y":136.11109924316406,"wires":[["1801ea9f.f9caed"]]},{"id":"49cfe314.ee84dc","type":"comment","z":"b41e923d.57be4","name":"Nothing to see here yet, move along!","info":"","x":174,"y":20,"wires":[]},{"id":"d6b7fd50.eb35e","type":"mqtt out","z":"9fc451d5.e5b1c8","name":"MQTT","topic":"Project Keep","qos":"","retain":"","broker":"d2ada21a.c88f1","x":629,"y":239.40000915527344,"wires":[]},{"id":"1801ea9f.f9caed","type":"json","z":"9fc451d5.e5b1c8","name":"Modify Payload","property":"payload","action":"","pretty":false,"x":455,"y":203.8000030517578,"wires":[["ea827018.ebb5d","d6b7fd50.eb35e"]]},{"id":"ea827018.ebb5d","type":"debug","z":"9fc451d5.e5b1c8","name":"View Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":658,"y":168.40000915527344,"wires":[]}]